.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Gotham Rounded', Roboto, sans-serif;
    background-color: #4056A1;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

li {
    margin-left: 15px;
    padding: 5px;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('GothamRounded-Bold.woff2') format('woff2'),
        url('GothamRounded-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-center {
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 10px 2px;
    display: flexbox;
}

.btn-own{
    border: 1px solid #4390bc;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
    background-color: #4056A1;
    color: white;
    height: 80px;
    width: 250px;
    margin: 20px 0;
}

.start-bt.btn-own {
    height: 50px;
    width: 200px;
}

div.start-btn {
    display: flex;
    align-content: bottom;
    justify-content: center;
}

div.btn-answer {
    display: flex;
    align-content: bottom;
    justify-content: center;
}

button.btn-answer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100px;
    width: 390px;
}

.button-center {
    display: flex;
    justify-content: center;
}

.highscore-list {
    height: 200px;
    font-size: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title-screen {
   display: inherit; 
}

.question-screen {
    min-height: 456px;
    /*max-height: 456px;*/
    display: none;
}

.end-screen {
    display: none;
}

.gameover-screen {
    display: none;
}

.gameover-screen:first-child{
    margin-bottom: 20px;
}

.correct-incorrect {
    height: 40px;
    width: 100%;
    visibility: hidden;
}

.reveal-green {
    visibility: visible !important;
    text-align: center;
    color: green;
  }
  
  .reveal-red {
    visibility: visible !important;
    text-align: center;
    color: red;
  }

  #display-end-screen {
      margin-bottom: 130px;
  }

  .content-margin {
      margin-top: 220px;
  }

  #countdown-timer {
      text-align: center;
  }